<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 py-5">
      <form #userLogin="ngForm" (ngSubmit)="loginUser(userLogin)">
        <h1>LOGIN</h1>
        <!-- Email input -->

        <label class="form-label" for="form2Example1">Email</label>
        <input
          id="email"
          ngModel
          #email="ngModel"
          type="email"
          name="email"
          class="form-control"
          required
        />
        <mat-error *ngIf="email.invalid">Please enter valid email</mat-error>

        <br />
        <br />
        <label class="form-label" for="form2Example2">Password</label>
        <input
          type="password"
          name="password"
          ngModel
          required
          #password="ngModel"
          id="password"
          class="form-control"
        />
        <mat-error *ngIf="password.invalid"
          >Please enter valid password</mat-error
        >
        <br />
        <br />
        <!-- Password input -->

        <!-- Submit button -->
        <button
          [disabled]="!userLogin.valid"
          class="btn btn-primary btn-block mb-4"
          type="submit"
        >
          Login
        </button>
      </form>

      <h3 class="text-center">
        If You are not Member? <a routerLink="/sign-up">Register</a>
      </h3>
    </div>
  </div>
</div>
