<nav class="navbar navbar-expand-lg navbar-light bg-navbar-color py-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Super<span>Market</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#dropdown"
      aria-controls="dropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span (click)="showNavbar()" class="navbar-toggler-icon"></span>
    </button>
    <div
      [class.show]="ShowNavbar"
      class="collapse navbar-collapse"
      id="dropdown"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <select class="form-select">
          <option selected disabled>Categories</option>
          <option *ngFor="let category of allCategory" [value]="category.name">
            {{ category.name }}
          </option>
        </select>
      </ul>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center">
          <div class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              (click)="addCardClick()"
              aria-expanded="false"
            >
              <i class="fa-solid fa-cart-shopping text-success fs-6"></i
              ><span class="text-decoration-none text-dark fw-bold"
                >( {{ products.length }} )</span
              >
              <span class="caret"></span
            ></a>
            <div [class.d-none]="products.length === 0">
              <ul
                [class.show]="showShoppingCard"
                class="dropdown-menu dropdown-cart pl-2 pt-2 pr-2"
                role="menu"
              >
                <li *ngFor="let item of products">
                  <span class="item">
                    <span class="item-left">
                      <img width="50px" src="{{ item.imageUrl }}" alt="" />
                      <span class="item-info">
                        <span>{{ item.name }}</span>
                        <span>price: {{ item.price | currency }}</span>
                      </span>
                    </span>
                    <span class="item-right">
                      <button
                        (click)="removeProduct(item)"
                        class="btn btn-danger btn-sm"
                      >
                        <i class="fa-solid fa-xmark"></i>
                      </button>
                    </span>
                  </span>
                </li>
                <h4 class="text-dark text-center mt-3 fw-bold text-uppercase">
                  Total Price: {{ grandTotal | currency }} <br />
                  <div class="btn-group">
                    <span
                      (click)="emptyCart()"
                      class="btn btn-danger fw-bold btn-sm text-lowercase"
                      ><i class="fa-solid fa-trash"></i> Remove All</span
                    >
                    <span class="btn btn-success fw-bold btn-sm text-lowercase"
                      >Check Out
                    </span>
                  </div>
                </h4>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shops"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Shops</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/faq"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >FAQ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <div *ngIf="isUserLoggedIn; else isLogOut">
            <a class="nav-link" routerLink="/logout">Logout</a>
          </div>

          <ng-template #isLogOut>
            <a class="nav-link" routerLink="/login">Login</a>
          </ng-template>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger text-white" routerLink="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
