.bg-navbar-color {
  background-color: #f7f7f5;
}
.navbar-brand {
  color: #161e6c;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
  span {
    color: #00c58a;
  }
}
.bag-icon {
  color: #00c58a !important;
}
.form-select {
  border-color: #ebedf0;
  color: #00c58a;
}

.form-select:focus {
  border-color: #ebedf0;
  outline: 0;
  box-shadow: none;
}

.nav-item {
  padding: 0 10px;
  font-weight: 500;
  .nav-link {
    &:hover {
      color: #00c58a !important;
    }
  }
}
