<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-list>
      <p class="text-end">
        <span class="text-danger px-2" (click)="sidenav.toggle()">
          <i class="fa-solid fa-square-xmark fa-2x"></i>
        </span>
      </p>
      <mat-list-item
        ><a routerLink="/admin"
          ><i class="fa-solid fa-user"></i> Admin Panel</a
        ></mat-list-item
      >
      <mat-list-item
        ><a routerLink="/admin-products"
          ><i class="fa-solid fa-basket-shopping"></i> Products</a
        ></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item>
        <a routerLink="/admin-users"><i class="fa-solid fa-users"></i> Users</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="/admin-banner"
          ><i class="fa-solid fa-images"></i> Banners</a
        ></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item>
        <a routerLink="/admin-sale-products"
          ><i class="fa-solid fa-gift"></i> Sale Products
        </a></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="/admin-news"
          ><i class="fa-solid fa-square-rss"></i> News</a
        ></mat-list-item
      ><mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="/admin-blog"
          ><i class="fa-solid fa-message"></i> Blog</a
        ></mat-list-item
      >
    </mat-list>
  </mat-sidenav>
  <div class="grid-container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center justify-content-sm-between">
        <p>
          <button mat-button (click)="sidenav.toggle()">
            <i class="fas fa-bars"></i>
          </button>
        </p>
        <p class="fw-bold fs-5 text-uppercase">ADMIN Dashboard</p>
      </div>

      <form action="">
        <div class="form-group">
          <div class="input-group">
            <input
              type="search"
              name="search"
              id="search"
              class="form-control"
              placeholder="Search"
              aria-describedby="helpId"
            />
            <button class="btn btn-danger btn-sm px-3">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid bg-theme py-3">
      <div class="row">
        <div class="col-lg-3 p-2">
          <mat-card class="cart-top">
            <div class="cart-chart">
              <h1 class="fw-bold text-success text-center">TOTAL PRODUCTS</h1>
              <div class="d-flex align-items-center justify-content-between">
                <img
                  src="../../../assets/admin/product.png"
                  class="img-fluid opacity-75"
                  width="100px"
                  alt=""
                />
                &nbsp;&nbsp;
                <h1 class="fw-bold text-card opacity-75 fs-1 text-danger">
                  {{ TOTAL_PRODUCTS }}
                </h1>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-lg-3 p-2">
          <mat-card class="cart-top">
            <div class="cart-chart">
              <h1 class="fw-bold text-success text-center">TOTAL PRICE</h1>
              <div class="d-flex align-items-center justify-content-between">
                <img
                  src="../../../assets/admin/money.png"
                  class="img-fluid opacity-75"
                  width="100px"
                  alt=""
                />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <h1 class="fw-bold text-card opacity-75 text-danger fs-1">
                  $25k
                </h1>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-lg-3 p-2">
          <mat-card class="cart-top">
            <div class="cart-chart">
              <h1 class="fw-bold text-success text-center">TOTAL BUDGET</h1>
              <div class="d-flex align-items-center justify-content-between">
                <img
                  src="../../../assets/admin/budget.png"
                  class="img-fluid opacity-75"
                  width="100px"
                  alt=""
                />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <h1 class="fw-bold text-card opacity-75 text-danger fs-1">
                  $36k
                </h1>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-lg-3 p-2">
          <div>
            <mat-card class="cart-top">
              <div class="cart-chart">
                <h1 class="fw-bold text-success text-center">TOTAL VISIT</h1>
                <div class="d-flex align-items-center justify-content-between">
                  <img
                    src="../../../assets/admin/bar-chart.png"
                    class="img-fluid opacity-75"
                    width="100px"
                    alt=""
                  />
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <h1 class="fw-bold text-card opacity-75 text-danger fs-1">
                    560
                  </h1>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="p-1"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 bg-white py-3 px-2">
          <h1 class="text-danger text-uppercase text-center fw-bold">
            Create New Product
          </h1>

          <form
            #form="ngForm"
            (ngSubmit)="onSubmitProduct(form)"
            class="example-form"
          >
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Product name</mat-label>
              <input
                matInput
                type="text"
                ngModel
                required
                #name="ngModel"
                name="name"
                value="Apple"
                [ngModelOptions]="{ standalone: false }"
                maxlength="18"
              />
              <mat-hint align="end">{{ name.value?.length || 0 }}/18</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Product Image Url</mat-label>
              <input
                matInput
                type="text"
                ngModel
                required
                #imageUrl="ngModel"
                name="imageUrl"
                [ngModelOptions]="{ standalone: false }"
              />
            </mat-form-field>
            <div class="d-sm-flex align-items-center justify-content-center">
              <mat-form-field
                class="example-full-width mx-1 pb-1"
                appearance="fill"
              >
                <mat-label>Product price</mat-label>
                <input
                  matInput
                  type="number"
                  ngModel
                  required
                  #price="ngModel"
                  name="price"
                  [ngModelOptions]="{ standalone: false }"
                />
                <mat-hint align="end"
                  >Here write product's 1kg price ($)</mat-hint
                >
              </mat-form-field>
              <mat-form-field
                class="example-full-width mx-1 pb-1"
                appearance="fill"
              >
                <mat-label>Total</mat-label>
                <input
                  matInput
                  type="number"
                  ngModel
                  required
                  #total="ngModel"
                  name="total"
                  [ngModelOptions]="{ standalone: false }"
                />
                <mat-hint align="end">Here write total in base (kg)</mat-hint>
              </mat-form-field>
              <mat-form-field
                class="example-full-width mx-1 pb-1"
                appearance="fill"
              >
                <mat-label>Category</mat-label>
                <mat-select ngModel #categoryName="ngModel" name="categoryName">
                  <mat-option
                    *ngFor="let category of selectCategory"
                    [value]="category.name"
                  >
                    {{ category.name }}
                  </mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
              </mat-form-field>
            </div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Product Description</mat-label>
              <textarea
                matInput
                ngModel
                #description="ngModel"
                [ngModelOptions]="{ standalone: false }"
                name="description"
                placeholder="Ex. It makes me feel..."
                maxlength="1000"
              ></textarea>
              <mat-hint align="end"
                >{{ description.value?.length || 0 }}/1000</mat-hint
              >
            </mat-form-field>

            <mat-checkbox
              ngModel
              #isNew="ngModel"
              name="new Product"
              [ngModelOptions]="{ standalone: false }"
              class="example-margin fw-bold"
              >New Product</mat-checkbox
            >
            <br />
            <mat-checkbox
              color="primary"
              ngModel
              #isChecked="ngModel"
              name="Sale"
              [ngModelOptions]="{ standalone: false }"
              class="example-margin fw-bold"
              >Sale Product</mat-checkbox
            >
            <div>
              <mat-form-field
                class="example-full-width mx-1 mt-2"
                appearance="fill"
              >
                <mat-label>Product Sale Price</mat-label>
                <input
                  matInput
                  type="number"
                  ngModel
                  #salePrice="ngModel"
                  name="sale Price"
                  [ngModelOptions]="{ standalone: false }"
                  [disabled]="isChecked.value == false"
                />
              </mat-form-field>
            </div>
            <br />
            <br />
            <input
              type="submit"
              value="Save"
              class="btn btn-danger px-4 py-2 text-uppercase fw-normal"
              [disabled]="!form.valid"
            />
          </form>
        </div>
        <div class="col-md-3 py-3 d-flex align-items-center">
          <mat-card
            class="mat-elevation-z4 position-relative mat-card-height w-100"
          >
            <div
              mat-card-image
              [style.backgroundImage]="'url(' + imageUrl.value + ')'"
              class="bg-card"
            ></div>
            <h5
              *ngIf="isNew.value"
              class="badge badge-new bg-warning position-absolute d-flex align-items-center justify-content-center fw-bold"
            >
              new
            </h5>
            <h5
              *ngIf="isChecked.value"
              class="badge badge-sale position-absolute bg-danger d-flex align-items-center justify-content-center fw-bold"
            >
              Sale
            </h5>
            <div class="card-f">
              <mat-card-content>
                <mat-card-title
                  class="fw-bolder panel-color pt-2 fs-5 text-center"
                >
                  {{ name.value | uppercase }}
                </mat-card-title>
                <div class="d-flex align-items-center justify-content-center">
                  <p
                    class="text-end fw-bold fs-6 pt-2"
                    [style.text-decoration]="
                      isChecked.value ? 'line-through' : 'none'
                    "
                  >
                    {{ price.value | currency }} {{ "/ 1 kg" }}
                  </p>
                  &nbsp;&nbsp;
                  <p class="fs-4 text-danger">
                    {{ salePrice.value | currency }}
                  </p>
                </div>
              </mat-card-content>
              <mat-card-actions
                class="d-flex align-items-center justify-content-around pb-3"
              >
                <button class="btn btn-danger btn-sm">
                  <i class="fas fa-shopping-cart"></i>
                </button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-theme py-3">
      <div class="row">
        <div class="col-md-12 px-sm-2">
          <h2 class="text-center text-uppercase text-danger table-responsive">
            All Products
          </h2>
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. Apple"
              #input
            />
          </mat-form-field>

          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="imageUrl">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Image Url
              </th>
              <td mat-cell *matCellDef="let note">
                <img
                  src="{{ note.imageUrl }}"
                  width="60px"
                  [alt]="note.imageUrl"
                />
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell class="fw-bold" *matCellDef="let note">
                {{ note.name | titlecase }}
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                description
              </th>
              <td mat-cell *matCellDef="let note">
                {{ note.description | lowercase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
              <td mat-cell *matCellDef="let note">
                {{ note.price | currency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>rating</th>
              <td mat-cell *matCellDef="let note">
                <i class="fas fa-star text-warning"></i> {{ note.rating }}
              </td>
            </ng-container>
            <ng-container matColumnDef="categoryName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                categoryName
              </th>
              <td mat-cell *matCellDef="let note">
                {{ note.categoryName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="newBadge">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                newBadge
              </th>
              <td mat-cell *matCellDef="let note">
                {{ note.newBadge }}
              </td>
            </ng-container>
            <ng-container matColumnDef="saleBadge">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                saleBadge
              </th>
              <td mat-cell *matCellDef="let note">
                {{ note.saleBadge }}
              </td>
            </ng-container>
            <ng-container matColumnDef="oldPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                oldPrice
              </th>
              <td mat-cell *matCellDef="let note">
                {{ note.oldPrice | currency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="newPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                newPrice
              </th>
              <td mat-cell *matCellDef="let note">
                {{ note.newPrice | currency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>total</th>
              <td mat-cell *matCellDef="let note">
                {{ note.total + "kg" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>edit</th>
              <td mat-cell *matCellDef="let note">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="productEdit(note)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="deleteProduct(note)">
                    <mat-icon>delete</mat-icon>
                    <span>delete</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[5, 15, 30]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
