<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-list>
      <p class="text-end">
        <span class="text-danger px-2" (click)="sidenav.toggle()">
          <i class="fa-solid fa-square-xmark fa-2x"></i>
        </span>
      </p>
      <mat-list-item
        ><a routerLink="/admin"
          ><i class="fa-solid fa-user"></i> Admin Panel</a
        ></mat-list-item
      >
      <mat-list-item
        ><a routerLink="/admin-products"
          ><i class="fa-solid fa-basket-shopping"></i> Products</a
        ></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item>
        <a routerLink="/admin-users"><i class="fa-solid fa-users"></i> Users</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="/admin-banner"
          ><i class="fa-solid fa-images"></i> Banners</a
        ></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item>
        <a routerLink="/admin-sale-products"
          ><i class="fa-solid fa-gift"></i> Sale Products
        </a></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="/admin-news"
          ><i class="fa-solid fa-square-rss"></i> News</a
        ></mat-list-item
      ><mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="/admin-blog"
          ><i class="fa-solid fa-message"></i> Blog</a
        ></mat-list-item
      >
    </mat-list>
  </mat-sidenav>
  <div class="grid-container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center justify-content-sm-between">
        <p>
          <button mat-button (click)="sidenav.toggle()">
            <i class="fas fa-bars"></i>
          </button>
        </p>
        <p class="fw-bold fs-5 text-uppercase">ADMIN Dashboard</p>
      </div>

      <form action="">
        <div class="form-group">
          <div class="input-group">
            <input
              type="search"
              name="search"
              id="search"
              class="form-control"
              placeholder="Search"
              aria-describedby="helpId"
            />
            <button class="btn btn-danger btn-sm px-3">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid bg-theme py-3">
      <div class="row">
        <div class="col-lg-3 p-2">
          <mat-card class="cart-top">
            <div class="cart-chart">
              <h1 class="fw-bold text-success text-center">TOTAL USERS</h1>
              <div class="d-flex align-items-center justify-content-between">
                <img
                  src="../../../assets/admin/man.png"
                  class="img-fluid"
                  width="100px"
                  alt="users"
                />
                &nbsp;&nbsp;
                <h1 class="fw-bold text-card opacity-75 fs-1 text-danger">
                  {{ TOTAL_USERS }}
                </h1>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-lg-3 p-2">
          <mat-card class="cart-top">
            <div class="cart-chart">
              <h1 class="fw-bold text-success text-center">ACTIVE USERS</h1>
              <div class="d-flex align-items-center justify-content-between">
                <img
                  src="../../../assets/admin/testimonials.png"
                  class="img-fluid"
                  width="100px"
                  alt=""
                />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <h1 class="fw-bold text-card text-danger fs-1">3</h1>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-lg-3 p-2">
          <mat-card class="cart-top">
            <div class="cart-chart">
              <h1 class="fw-bold text-success text-center">PASSIVE USERS</h1>
              <div class="d-flex align-items-center justify-content-between">
                <img
                  src="../../../assets/admin/passive-candidate.png"
                  class="img-fluid"
                  width="100px"
                  alt=""
                />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <h1 class="fw-bold text-card text-danger fs-1">1</h1>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-lg-3 p-2">
          <div>
            <mat-card class="cart-top">
              <div class="cart-chart">
                <h1 class="fw-bold text-success text-center">TOTAL VISIT</h1>
                <div class="d-flex align-items-center justify-content-between">
                  <img
                    src="../../../assets/admin/visitor.png"
                    class="img-fluid"
                    width="100px"
                    alt=""
                  />
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <h1 class="fw-bold text-card text-danger fs-1">10</h1>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="p-1"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-theme py-3">
      <div class="row">
        <div class="col-md-12 px-sm-2">
          <h2 class="text-center text-uppercase text-danger table-responsive">
            All Users
          </h2>
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. Mia"
              #input
            />
          </mat-form-field>
          <div class="mx-auto">
            <mat-spinner
              color="warn"
              class="mx-auto"
              *ngIf="isGetProducts"
            ></mat-spinner>
          </div>
          <table
            *ngIf="!isGetProducts"
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            matSort
          >
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
              <td mat-cell *matCellDef="let note">{{ note._id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let note">{{ note.name }}</td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let note">{{ note.email }}</td>
            </ng-container>

            <ng-container matColumnDef="isAdmin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>isAdmin</th>
              <td mat-cell *matCellDef="let note">{{ note.isAdmin }}</td>
            </ng-container>

            <ng-container matColumnDef="regDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let note">
                {{ note.regDate | date: "dd-MM-yyyy" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[15, 25, 35, 55]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
