<div
  class="px-4 py-5 text-center bg-color-home d-flex align-items-center justify-content-center"
>
  <div class="col-lg-8 mx-auto">
    <h1 class="head-h1">Groceries Delivered in 90 Minute</h1>
    <div>
      <p class="py-3 fw-bold">
        Get your healthy foods & snacks delivered at your doorsteps all day
        everyday
      </p>
    </div>

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control py-2 px-3"
        placeholder="Search your product from here"
      />
      <span class="btn btn-bg-color py-2 px-3" id="basic-addon1">
        <i class="fas fa-search"></i> Search</span
      >
    </div>
  </div>
</div>

<div class="container-fluid border">
  <div class="row">
    <div class="col-md-12 py-4">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slidesStore">
          <ng-template carouselSlide id="{{ slide.id }}">
            <div class="px-2 py-1">
              <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>

<div class="container-fluid border">
  <div class="row">
    <div class="col-md-2 border">
      <mat-list>
        <h2 class="text-center text-uppercase fw-normal">Products</h2>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="col-md-10">
      <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div
            fxFlex="33.3333%"
            fxFlex.xs="100%"
            fxFlex.sm="33%"
            *ngFor="let num of [1, 2, 3, 4, 5, 6, 7]"
          >
            <mat-card class="mat-elevation-z4">
              <img mat-card-image src="https://picsum.photos/200/150" />
              <div class="badge bg-danger">New</div>
              <div class="badge bg-warning">Sale</div>

              <mat-card-content>
                <mat-card-title>Mountains {{ num }}</mat-card-title>
                <p>The Himalayas is a mountain range in Asia.</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
